<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Please Join</h4>
                    </div>
                    <div class="content">
                        <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <!-- <label>Player Name</label> -->
                                        <input type="text" class="form-control" placeholder="Player Name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <button class="btn btn-success">JOIN</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>